# Directories
# -----------
/.idea/
/internal/cli/tmp/
/internal/command/tmp/
/out/
/testdata/repo-*/
/testdata/internal/command/repo-*/
/tmp/
/vendor/

# Files
# -----
/info.go
/tmpltoapp
/tmpltoapp.exe
/tmpltoapp.test
/tmpltoapp.test.exe
...
