# Directories
# -----------
/.idea/
/internal/cli/testdata/001/
/internal/cli/testdata/repo-*/
/internal/cli/tmp/
/testdata/parse-dir-02/
/out/
/vendor/
repo-*/
tmp/

# Files
# -----
/info.go
/tmplpress
/tmplpress.exe
/tmplpress.test
/tmplpress.test.exe
...
